<h1 style="text-align:center; padding-top:75px; font-size: 100px">Welcome! </h1>
<div style ="text-align: center;padding-top:80px;font-size:20px;">
<p> Make your own profile and visit everyone else! </p>
<p>Click <%= link_to "here", login_path %> to sign in. </p>
<p> Click <%= link_to 'here', new_user_path %> to sign up. </p>
</div> 