<h1>Welcome!</h1>
<p>Click <%= link_to 'here', new_user_path %> to create your own profile. </p>
<p>Click <a href="http://localhost:3000/dashboard/view">here</a> to visit everyone else.</p>

<p> For managing profiles, click <%= link_to 'here', manage_mchange_path %></p>

<br>
